Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
App_Code*/
App_Browsers*/
App_Data/packages*/
bin*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.sass-cache

packages/*
Source/website/packages/
Source/website/VerificatieVergadering.Website/umbraco/
Source/website/VerificatieVergadering.Website/umbraco_client/
Source/website/ImageResizer.Website/diskcache/
Source/website/ImageResizer.Website/Properties/PublishProfiles/
.idea
Source/Website/DSB.Website/static/
Source/Website/DSB.Website/App_Data/Logs/
Source/Website/DSB.Website/App_Data/TEMP/
Source/Website/DSB.Website/App_Data/cache/
Source/Website/DSB.Website/App_Data/preview/
Source/Website/DSB.Website/App_Data/umbraco.config
Source/Website/DSB.Website/App_Data/NuGetBackup/
Source/Website/DSB.Website/umbraco/
Source/Website/DSB.Website/umbraco_client/
msbuild-by-convention/Scripts/buildversion.txt
msbuild-by-convention/Tools/choco_packages_installed.txt
msbuild-by-convention/Tools/EcmaScript.Net.1.0.1.0/
msbuild-by-convention/Tools/GallioBundle.3.4.14.0/
msbuild-by-convention/Tools/Machine.Specifications.0.6.0/
msbuild-by-convention/Tools/Mirabeau.DatabaseReleaseTool.1.2.3.2/
msbuild-by-convention/Tools/MSBuild.Extension.Pack.1.5.0/
msbuild-by-convention/Tools/MSBuild.Microsoft.VisualStudio.Web.targets.12.0.4/
msbuild-by-convention/Tools/MSBuildTasks.1.4.0.88/
msbuild-by-convention/Tools/NUnit.Runners.2.6.3/
msbuild-by-convention/Tools/OpenCover.4.5.3723/
msbuild-by-convention/Tools/PhantomJS.1.9.7/
msbuild-by-convention/Tools/ReportGenerator.1.9.1.0/
msbuild-by-convention/Tools/SonarRunner.2.3/
msbuild-by-convention/Tools/VisualStudio.v11.0/
msbuild-by-convention/Tools/WGETWindows.1.11.4/
msbuild-by-convention/Tools/YUICompressor.NET.2.4.0.0/
msbuild-by-convention/Tools/YUICompressor.NET.MSBuild.2.4.0.0/
Source/Website/DSB.Website/Config/splashes/booting.aspx
Source/Website/DSB.Website/Config/splashes/noNodes.aspx
Source/Website/DSB.Website/Config/Lang/
Source/Website/.vs/